#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#	 rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#	 “content/about.html”). To select all children, grandchildren, … of an
#	 item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#	 because “*” matches zero or more characters.

# Preprocess items {{{
preprocess do
	@items.each do |i|
		if i.identifier =~ %r{^/posts/.+$}
		    i[:kind] = :article
			i[:publish_date] = Date::parse(i.name.split('-', 4)[0..2] * "-")
		end
	end
end
# }}}

# Static content (simply copied into output) {{{
compile '/static/css/*/' do
	# compress CSS :)
	filter :rainpress
end

compile '/static/*/' do
	# don't compile
end

route '/static/*/' do
	path = @item.identifier.chop.gsub(/^\/static/, '')
	path + '.' + @item[:extension]
end
# }}}

# Compiling blog posts {{{
compile '/posts/' do
	filter :erb
	layout 'default'
end

compile '/posts/*/' do
	layout 'post'
	filter :redcloth, :hard_breaks => false
	filter :colorize_syntax,
	       :default_colorizer => :pygmentize
	layout 'default'
end

compile '/posts/*/', :rep => :alt_url do
	@item[:source_url] = @item.identifier.chop + '/index.html'
	layout 'redirect'
end

route '/posts/*/' do
	parts = @item.name.split('-', 4)
	if @item[:publish_date]
		'/posts/' + @item[:publish_date].year().to_s + '/' + parts[3] + '/index.html'
	else
		puts "Skipping " + @item.name
	end
end

route '/posts/*/', :rep => :alt_url do
	@item[:alt_url]
end
# }}}

# Blog post imagery {{{
compile '/img/*/' do
	# make images fit the blog's size
	filter :thumbnailize, :width => 520
	#if item[:extension] == "png"
	#	filter :pngcrush, :level => 7
	#end
end

route '/img/*/' do
	@item.identifier.chop + '.' + @item[:extension]
end
# }}}

# Home page {{{
compile '/' do
	filter :erb
	filter :redcloth, :hard_breaks => false
	filter :colorize_syntax,
	       :default_colorizer => :pygmentize
	layout 'default'
end
# }}}

# About me {{{
compile '/about/' do
	filter :kramdown
	layout 'default'
end
# }}}

compile '*' do
	filter :erb
	layout 'default'
end

route '*' do
	@item.identifier + 'index.html'
end

layout '*', :erb
