#$include_drafts = true
#$recent_posts_limit = 7
$use_googles_jquery = false
$highlight_syntax = false
$use_minified_js = false
$use_minified_css = false

# Include this
$add_google_analytics = false
#$add_disqus_comments = false
#$disqus_develop_mode = false
#$disqus_shortname = 'nvie'
