<div id="post">
<% if @item[:flattr] %>
<div class="flattr-quick no-print"><a class="FlattrButton" style="display:none;" href="<%= @config[:base_url] %>/posts/<%= @item.slug %>/"></a></div>
<h1 style="clear: left"><%= @item[:title] %></h1>
<% else %>
<h1><%= @item[:title] %></h1>
<% end %>
<p id="permalink" class="print-only"><%= @config[:base_url] + @item[:source_url] %></p>
<%= @item.html_dateline(true) %>
<%= yield %>
</div>

<% if @item[:flattr] %>
<div class="flattr-reminder no-print">
If you find this post useful, please <a class="flattr-link" href="https://flattr.com/thing/<%=@item[:flattr]%>/"><img src="/img/flattrblack.png" width="43" height="10" /></a> it.
</div>
<% end %>
