/* @override 
	http://localhost:8000/style.css
	http://localhost:8000/css/style.css
	http://localhost/css/style.css
*/

@import url(/fontface.css);

body {
	margin: 0;
	padding: 0;

	font-family: Georgia, Arial, sans-serif;
	/*background: #333 url(/img/leftbg.png) repeat-y;*/
	background: #333 url(/img/bg.png) repeat-y;
}

/* @group Header */

#header {
	position: absolute;
	display: block;
	height: 66px;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #333;
	color: #eee;
	
	box-shadow: 0 10px 10px #000;
}

#header h1 {
	position: absolute;
	font-family: "Graublau Web", Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 25pt;
	
	padding: 0;
	margin: 10px 28px;
}

#header span#nvie {
	font-weight: bold;
	color: #fff;
}

#header span#dot {
	color: #ccc;
}

#header span#ext {
	letter-spacing: -0.05em;
	color: #bbb;
}

/* @end */

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: #0072e4;
}

a:hover {
	color: #008dff;
}

/* @group Main */

#main {
	position: relative;
	background-color: white;

	top: 38px;
	left: 280px;
	z-index: 2;

	width: 520px;
	min-height: 500px;
	
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	
	box-shadow: 1px 2px 5px #000;
	-moz-box-shadow: 1px 2px 5px #000;
	-webkit-box-shadow: 1px 2px 5px #000;
	color:#000;
	
	padding: 20px;
}

#main h1 {
	font-family: "Graublau Web", Georgia, Arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: -1px;
}

#main p.written-at {
	font-family: "Graublau Web", Georgia, Arial, sans-serif;
	font-size: 12px;
	color: #ccc;
	text-align: left;
	padding: 0;
	margin-top: -23px;
	margin-bottom: 8px;
}

#main h2 {
	font-family: "Graublau Web", Georgia, Arial, sans-serif;
	margin-top: 24px;
	margin-bottom: 12px;
}

#main h3 {
	font-family: "Graublau Web", Georgia, Arial, sans-serif;
}

#main h4 {
	font-family: "Graublau Web", Georgia, Arial, sans-serif;
}

#main p+ul {
	margin-top: -12px;
}

#main ul {
	margin: 10px 0 20px 0;
}

#main p {
	margin: 10px 0 20px 0;
	
	font-size: 15px;
	
	line-height: 20px;
}

#main li {
	list-style-type: square;

	font-size: 15px;
	
	line-height: 20px;
}

/* @end */

/* @group Sidebar */

#sidebar a {
	font-size: 12pt;
}

#sidebar a:link,
#sidebar a:visited {
	color: #dc0003;
}

#sidebar a:hover {
	color: #a60002;
}

/*
#sidebar {
	position: fixed;

	top: 90px;
	left: 20px;
	width: 200px;

	padding: 20px 20px 0 0;

	border-right: 1px solid #ccc;

	text-align: right;
}
*/

#sidebar {
	position: absolute;

	top: 140px;
	left: 30px;
	width: 250px;
	z-index: 0;

	margin: 0;
	padding: 32px 30px 32px 0;

	text-align: left;
	
	z-index: 1;
	background-color: rgba(255,255,255,0.8);
	
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius: 8px;
	
	box-shadow: 1px 2px 5px black;
	-webkit-box-shadow: 1px 2px 5px black;
	-moz-box-shadow: 1px 2px 5px black;
}

#sidebar h2 {
	font-family: "Graublau Web", "Lucida Grande", Arial, sans-serif;
	font-weight: bold;
	font-size: 19px;
	color: #333;
	letter-spacing: -0.1em;
	line-height: 20px;
	margin: 30px 20px 10px 20px;
	border-bottom: 1px solid #ccc;
}

#sidebar h2 span {
	padding-right: 6px;
}

#sidebar ul {
	font-family: "Graublau Web", "Lucida Grande", Arial, sans-serif;
	list-style-type: none;
	margin-right: 12px;
}

#sidebar li.all {
	margin-bottom: 8px;
}

#sidebar li {
	font-size: 14px;
}

/* @end */

/* <code> is for inline code in paragraphs */
#main code {
	font-family: "Droid Sans Mono", Courier New, monospace;
	font-size: 9pt;
}

/* allow <code> blocks inside <pre>, but let the <pre> rules dictate the formatting */
pre code {
	font: inherit;
	margin: 0;
	padding: 0;
}

/* <pre> are (large) code blocks */
#main pre {
	font-family: "Droid Sans Mono", Courier New, monospace;
	font-size: 9pt;
	line-height: 1.4em;
	
	color: #222;
	border: 1px solid #f7a600;
	background-color: #fefef1;
	
	margin: 10px 0 20px 0;
	
	padding: 10px;
	padding-left: 16px;
	
	border-left-width: 5px;
	border-left-style: solid;
	border-bottom-right-radius: 12px;

	box-shadow: 2px 3px 5px #ccc;
	-moz-box-shadow: 2px 3px 5px #ccc;
	-webkit-box-shadow: 2px 3px 5px #ccc;
	
	overflow: auto;
}

#main pre.small-font {
	font-size: 7pt;
}

#main pre.big-box {
	width: 600px;
	box-shadow: 2px 3px 5px #ccc;
	-moz-box-shadow: 2px 3px 5px #ccc;
	-webkit-box-shadow: 2px 3px 5px #777;
}

#main p + pre {
	margin-top: -10px;
}

#main img {
	max-width: 520px;
}

#main img.right {
	float: right;
	position: relative;
	left: 100px;
	margin-left: -95px;
}

#footer {
	color: white;
	background-color: #333;
	margin: 0;
	padding: 44px 0 40px 100px;
}

#footer .boxed {
	width: 600px;
}

#footer h1 {
	font-family: "Graublau Web", Georgia, sans-serif;
	margin-top: 28px;
	margin-bottom: 8px;
	font-size: 16pt;
}

#footer p {
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 10pt;
	margin-top: 8px;
}

/* Used for strong importance */
strong {
}

/* Used for stylistic offset */
b {
}
